#cat_name {
    margin-top: 2vw;
}

.cat_display {
    margin: 1vw;
}

.cat_display img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: 55vw;

    opacity: 0; /* Remove this once we got cat art. */
}

#cat_talk_box {
    display: block;
    position: relative;

    height: 21vw;
    overflow: hidden;
}