#cat_name {
    margin-top: 2vw;
    height: 30px;
}

.cat_display {
    margin: 1vw;
}

.cat_display img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 262px;
    height: 168px;

    opacity: 0; /* Remove this once we got cat art. */
}

#cat_talk_box {
    display: block;
    position: fixed;

    width: 100%;
    height: fit-content;
    overflow: hidden;

    right: 0;
    left: 0;
    bottom: 0;

    padding-bottom: 10px;
}